.wapper

  = render '/layouts/shared/chat-side'

  .chat-main
    .main-headder
      .current-group
        %h2.current-group__name
          = @group.name
        %ul.member-list 
          Member : 
          %li.member-list__member
            - @group.users.each do |user|
              = user.name
      = link_to edit_group_path(@group) do
        .main-headder__edit-btn Edit
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__text', placeholder: "type a message"
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
